::selection {
	background-color: #E13300;
	color: white;
}

::-moz-selection {
	background-color: #E13300;
	color: white;
}

::-webkit-selection {
	background-color: #E13300;
	color: white;
}

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
	width: auto;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

h2 {
	color: #444;
	background-color: transparent;
	border: 1px solid #D0D0D0;
	/*	border-bottom: 1px solid #D0D0D0;*/
	font-size: 15px;
	font-weight: strong;
	/*	margin: 0 0 14px 0;*/
	padding: 14px 15px 10px 15px;
}

code {
	/*	font-family: Consolas, Monaco, Courier New, Courier, monospace;*/
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
	/* mannual	*/
	overflow: auto;
}

code.question {
	background-color: #FFFFFF;
}

#body {
	margin: 0 15px 0 15px;
}

.body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container {/*	margin: 10px;*/
	margin: 10px auto;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	width: 1000px;
}

text.includedIncorrectAnswer {
	cursor: pointer;
}

td.excludedIncorrectAnswer {
	cursor: pointer;
	width: 100%;
}
td.excludedIncorrectAnswer:hover {
	text-decoration: underline;
}

li.incorrectAnswer {
	cursor: pointer;
}

li.correctAnswer {
	cursor: pointer;
}

td.includedSection {
	cursor: pointer;
	margin: 0 10px 0 0;
	width: 100%;
	padding: 0 0 0 0;
}
td.temp {
	cursor: pointer;
	margin: 0 10px 0 0;
	width: 100%;
	padding: 0 0 0 0;
}
td.includedSection:hover {
	text-decoration: underline;
}

td.excludedSection:hover {
	text-decoration: underline;
}
td.excludedQuestion {
	cursor: pointer;
}
td.excludedQuestion:hover {
	text-decoration: underline;
}

td.editButtonCell {
	width: 15px;
}

td.editEntryCell {
	width: 15px;
}

img.editEntryButton {
	cursor: pointer;
}

td.excludedSection {
	cursor: pointer;
	margin: 0 10px 0 0;
	width: 100%;
	padding: 0 0 0 0;
}

td.includedQuestion {
	cursor: pointer;
	margin: 0 10px 0 0;
	width: 100%;
	padding: 0 0 0 0;
}
td.includedIncorrectAnswerCell {
	width: 100%;
	cursor: pointer;
}
td.includedIncorrectAnswerCell:hover {
	text-decoration: underline;
}
td.includedQuestion:hover {
	text-decoration: underline;
}

li.excludedQuestion {
	cursor: pointer;
}

code {
	max-height: 600px;
	overflow: scrollable;
}

code.scrollable {
	max-height: 350px;
	overflow: auto;
	background-color: #FFFFFF;
}

h2#makerHeader {
	cursor: pointer;
}

h2#examSectionManagerHeader {
	cursor: pointer;
}

h2#sectionQuestionManagerHeader {
	cursor: pointer;
}

h2#sectionQuestionAnswerManagerHeader {
	cursor: pointer;
}

h2#sectionQuestionIncorrectAnswerManagerHeader {
	cursor: pointer;
}

h2#makerHeader:hover {
	text-decoration: underline;
}

h2#examSectionManagerHeader:hover {
	text-decoration: underline;
}

h2#sectionQuestionManagerHeader:hover {
	text-decoration: underline;
}

h2#sectionQuestionAnswerManagerHeader:hover {
	text-decoration: underline;
}

h2#sectionQuestionIncorrectAnswerManagerHeader:hover {
	text-decoration: underline;
}

img.editExamButton {
	/*	display: none;*/

}

img.editSectionButton {/*	display: none;*/

}

img.editExamButton:hover {
	cursor: pointer;
}

img.editSectionButton:hover {
	cursor: pointer;
}

/** /Lightbox background * /*/
#lightbox {
	display: none;
	background: #000000;
	opacity: 0.9;
	filter: alpha(opacity = 90);
/*	position: absolute;*/
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: 1000;
}
/* Lightbox panel with some content */
#lightbox-panel {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -500px;
	width: 965px;
	bottom: 100px;
	background: #FFFFFF;
	padding: 10px 15px 10px 15px;
	border: 2px solid #CCCCCC;
	z-index: 1001;
	overflow: auto;
}

#loadingBox {
	display: none;
	background: #000000;
	opacity: 0.9;
	filter: alpha(opacity = 90);
/*	position: absolute;*/
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: 1000;
}